*,
*::before,
*::after {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    text-align: center;
    width: 500px;
    margin: auto;
}

.green {
    background-color: green;
    color: white;
}

.red {
    background-color: rgb(77, 7, 7);
    color: white;
}

.each-div {
    height: 50px;
    width: 50px;
}